{% if date is not None %}
    <h4>Vertretungsplan für {{ date|date:"l d. F Y" }}</h4>
    <hr>
{% endif %}

{% if filtered is None %}
    {% if lehrer is True %}
        {% include "vertretungsplan_webapp/home-table-lehrer.html" with list=vplan %}
    {% else %}
        {% include "vertretungsplan_webapp/home-table-schueler.html" with list=vplan %}
    {% endif %}
{% else %}
    {% if lehrer is True %}
        {% include "vertretungsplan_webapp/home-filter-lehrer.html" with filtered=filtered vplan=vplan %}
    {% else %}
        {% include "vertretungsplan_webapp/home-filter-schueler.html" with filtered=filtered vplan=vplan %}
    {% endif %}
    <button class="text-toggle btn btn-outline-info mb-4" type="button" data-toggle="collapse" data-target="#collapseVplan" aria-expanded="false" aria-controls="collapseVplan">
        <span class = "text-collapsed"><i data-feather="chevron-down" height = "19" width="19" stroke-width="3"></i> Mehr Anzeigen</span>
        <span class = "text-expanded"><i data-feather="chevron-up" height = "19" width="19" stroke-width="3"></i> Weniger Anzeigen</span>
    </button>    
{% endif %}