{% load static %}
{% load user_tags %}
{% load widget_tweaks %}
<!doctype html>
<html lang="de">
    <head>
        <!-- Copyright Per Göttlicher 2020 -->
        
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <link rel="stylesheet" href="{% static 'css/mystyles.css' %}">
        <script>var counter = 0;</script>
        <style>
            .footer {
                background-color: #f5f5f5;
            }
        </style>
        <title>{% block title %}Vertretungsplan{% endblock title %}</title>
    </head>
    <body class = "d-flex flex-column min-vh-100 ministry-teams">
        <header class = "site-header">
            {% include "navbar.html" %}
        </header>
        <main role = "main" class = "flex-shrink-0">
            <div class="container mt-4">
                {% if messages %}
                    {% for message in messages %}
                        <div class = "alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content  %}
                {% endblock content %}
            </div>
        </main>
        <footer class="footer text-center mt-auto py-3" >
            <div class="container">
                <span class="text-muted" >
                        {% now "Y" as current_year %} 
                        Copyright © {{ current_year }} Per Göttlicher
                        <a class = "text-muted ml-5" href = "https://github.com/Atlasfreak/Django-Vertretungsplan"><i data-feather="github" height = "19" width="19" stroke-width="3"></i>Github</a>
                </span>
            </div>
        </footer>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
        <!-- bs-custom-file-input -->
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
        <!-- Feather Icons -->
        <script src="https://unpkg.com/feather-icons"></script>
        <script>
            feather.replace()
        </script>
        
        <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
        
        <script src="{% static 'js/my.js' %}"></script>
        
    </body>
</html>